
body {
    background-color: #40413E;
}

h1 {
  color: #F1F0D2;
  text-align: center;
  font-family: 'Arial', serif;
  font-size: 220%;
  font-style: normal;
  font-weight:400;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  letter-spacing: -1;

}
h3 {
    color: #A13030;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: lighter;
    font-size: 140%;

}

h4 {
  color: #A13030;
  text-align: center;
  font-family: Arial Text, serif;
  font-style: none;
  font-weight:400;
  font-size: 160%;

}

p {
    font-family: Arial;
    font-size: 100%;
    font-weight: lighter;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
}


.b{
  text-align: center;
  font-variant: small-caps;
  text-decoration: none;
  padding-left: 300px;
  padding-right: 300px;
  margin-left: 20px;
  margin-right: 20px;

}
.button-1 {
    background-color: #A13030;
    border: 1px solid #A3A69E;
    color: #A3A69E;
    cursor: pointer;
}

.button-1:hover {
  background-color: #A13030;
  text-align: center;
}

.button-1:active{

  background-color: white;
  color: white;
  border: white;
  text-align: center;
}

.button-1:visited{
  background-color: #A13030;
  border: 1px solid #A3A69E;
  color: #F1F0D2;
